<div class="project row mb-4">
  <p>
    <em>This is your [my]Board, your personal dashboard with all of your own posts!</em>
  </p>
</div>

{{#each posts as |post|}}

<div class="row mb-4 project bgc-lighter">
  <div class="col-md-5">
    <h2>
      <!-- This will lead to an individual post -->
      <a href="/singlePost/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7 my-2">
    <p>
      {{post.content}}
    </p>
  </div>
</div>

{{/each}}

<p>
  <button id = "new-post" class="btn bgc-green" style="color:#fff">[dot]Post</button>
</p>
<br />
{{!-- form for new post is hidden until button is clicked --}}
<form class="form new-post-form" id="myForm" style="display: none;">
  <div class="row mt-4">
  <div class="col-md-6">
    <h3>[dot]Blog your new post:</h3>

      <div class="form-group">
        <label for="post-title">Post title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-body">Post body:</label>
        <textarea class="form-input" id="post-body" name="post-body"></textarea>
      </div>

      <div class="form-group">
        <button id="submitpost" type="submit" class="btn bgc-green" style="color:#fff">[dot]Blog it!</button>
      </div>

  </div>
</form>

<script src = "js/dashboardPost.js"></script>