<div class="project row mb-4">
  <p>
    <em>This is your [dash]Board, where you will see all of your own posts!</em>
  </p>
</div>

{{#each posts as |post|}}

<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- This will lead to an individual post -->
      <a href="/single-post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7 my-2">
    <p>
      {{post.content}}
    </p>
  </div>
</div>

{{/each}}

<p>
  <button class="btn btn-primary">[dot]Post</button>
</p>