{{#if posts}}

{{#each posts as |post|}}

<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- This will lead to an individual post -->
      <a href="/singlePost/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7 my-2">
    <p>
      {{post.content}}
    </p>
  </div>
</div>

{{/each}}

{{else}}

{{!-- message renders if site is fresh with no posts --}}
<p>There are no posts yet. When you or others decide to [dot]Blog, they will show here!</p>

{{/if}}