<div class="row mb-4 project">
  <div class="col-md-12 bg-info text-center">
    <h1>
      <strong> {{singlePost.title}} </strong>
    </h1>
    <p>Created by {{singlePost.user.name}} on {{format_date singlePost.date_created}}</p>
  </div>
  <br />
  <div class="col-md-12 my-2 mx-auto text-center">
    <p>
      {{singlePost.content}}
    </p>
  </div>
  <br />
  <br />
  {{!-- display comments --}}
  <div class="col-md-6 my-2 mx-auto text-center bg-light">
    <p>
      <strong>-- [dot]Comments -- </strong><br />
      <br />
    <div class="col-md-6 my-5 mx-auto text-center bg-white border-bottom">
      {{#each singlePost.comments}}
      <em>
        {{this.content}} <br />
        <span style="font-size: 10px">- {{this.user.name}}</span>
      </em>

      <br />
      <br />
      {{/each}}
    </div>
    </p>

    {{!-- add a comment --}}
    <form id="commentForm">
      <div class="form-group">
        <textarea class="form-input" id="newcomment" name="newcomment" placeholder="Add your comment"></textarea>
        <button type="submit" class="btn btn-primary" id="add-comment">[add]Comment</button>
      </div>
    </form>


  </div>


</div>
<script src="/js/singlePost.js"></script>