<div class="row mb-4 project">
  <div class="col-md-12 oneTitle text-center" style="color:#ffffff">
    <h1>
      <strong> {{singlePost.title}} </strong>
    </h1>
    <p>Created by {{singlePost.user.name}} on {{format_date singlePost.date_created}}</p>
  </div>
  <br />
  <div class="col-md-12 my-2 mx-auto text-center">
    <p>
      {{singlePost.content}}
    </p>

    {{!-- update and delete buttons only show if this equal helpers results in true --}}
    {{#if (equal singlePost.user_id currentId)}}
    <button type="submit" class="btn bgc-green" id="update-post" style="color:#ffffff">[update]Post</button>
    <button type="submit" class="btn bgc-red deleteBtn" id="delete-post" style="color:#ffffff">[delete]Post</button>
    {{/if}}

    {{!-- form to update post is hidden until update button is clicked --}}
    <form class="form new-post-form" id="upPost" style="display: none;">
      <div class="row mt-4">
        <div class="col-md-12">
          <h3>[dot]Blog your new post:</h3>

          <div class="form-group">
            <label for="up-title">Post title:</label>
            <input class="form-input" type="text" id="up-title" name="up-title" value="{{singlePost.title}}" />
          </div>
          <div class="form-group">
            <label for="up-body">Post body:</label>
            <textarea class="form-input" id="up-body" name="up-body">{{singlePost.content}}</textarea>
          </div>

          <div class="form-group">
            <button id="update" type="submit" class="btn bgc-green" style="color:#fff">[up]Date</button>
          </div>

        </div>
    </form>
  </div>
  <br />
  <br />

  {{!-- display comments --}}
  <div class="col-md-6 my-2 mx-auto text-center bgc-cmt">
    <p>
      <strong>[dot]Comments</strong><br />
    <div class="col-md-6 my-5 py-2 mx-auto text-center bg-white">
      {{#each singlePost.comments}}
      <div class="c-bottom-border">
      <em>
        {{this.content}} <br />
        <span style="font-size: 10px">- {{this.user.name}}, {{format_date this.date_created}}</span>
      </em>
      </div>
      {{/each}}
    </div>
    </p>

    {{!-- add a comment --}}
    <form id="commentForm">
      <div class="form-group">
        <textarea class="form-input" id="newcomment" name="newcomment" placeholder="Add your comment"></textarea>
        <button type="submit" class="btn bgc-green" id="add-comment" style="color:#fff">[add]Comment</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/singlePost.js"></script>